body {
  background-color: black;
  color: white;
}

div {
  margin-top: 35px;
  text-align: center;
  color: white;
  font-family: Cubano;
}

h1 { 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1em;
}

footer { 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  /* width: 10%; */
  height: 10%;
  font-size: 1em;
  font-family: Cubano;
  color: white;
  text-align: center;
  background-color: #555555;
  border-width: 4px;
}

/* Center the results table on the page */
table {
  margin-left: auto;
  margin-right: auto;
}

/* Profile picture style images for random hat page */
.profile {
  border-radius: 50%;
}

.big {
  width: 300px;
  height: 300px;
}

.small {
  width: 50px;
  height: 50px;
}