[serve]
# The address to serve on.
address = "127.0.0.1"
# The port to serve on.
port = 8081
# Open a browser tab once the initial build is complete.
open = false
# Disable auto-reload of the web app.
no_autoreload = false
# The output directory for build assets. 
dist = "docs"

[build]
# The index HTML file to drive the bundling process. 
target = "index.html"
# Build in release mode. 
release = true
# The output directory for build assets. 
dist = "docs"
# The public URL from which assets are to be served
public_url = "/random-hat/"
